<div class="bg-white p-4 shadow-md rounded-md">
  <!-- Título -->
  <h2 class="text-lg font-semibold text-[#636363] mb-2">
    Aguardanndo Aprovação
  </h2>

  <!-- Linha Divisória -->
  <hr class="border-[#636363] border-2 mb-2" />

  <!-- Lista de Cards -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <app-info-card
      *ngFor="let vistoria of vistorias"
      [detranDestino]="getDetranNome(vistoria.detran_destino_id)"
      [imagem]="'../../assets/images/placa.png'"
      [funcionario]="vistoria.nome_proprietario"
      [dataValidacao]="vistoria.data_validacao"
      [horarioValidacao]="vistoria.hora_laudo"
      [color]="'#636363'"
      (viewDetails)="onViewDetails(vistoria.id)"
    ></app-info-card>
  </div>
</div>
