<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-[600px] bg-white shadow rounded-lg p-8">
    <h1 class="text-lg font-semibold text-[#82b440] mb-4">
      Cadastro de Funcionário
    </h1>
    <hr class="border-[#82b440] mb-6" />
    <form (submit)="onSubmit()" class="space-y-6">
      <div>
        <label for="name" class="block text-gray-800 font-medium mb-2">
          Nome
        </label>
        <input
          id="name"
          type="text"
          [(ngModel)]="nome"
          name="nome"
          class="w-full h-12 rounded-md border border-gray-300 bg-gray-100 px-4 text-gray-800 focus:outline-[#82b440] focus:ring-1 focus:ring-[#82b440]"
          required
        />
      </div>
      <div>
        <label for="cpf" class="block text-gray-800 font-medium mb-2">
          CPF
        </label>
        <input
          id="cpf"
          type="text"
          [(ngModel)]="cpf"
          name="cpf"
          mask="000.000.000-00"
          class="w-full h-12 rounded-md border border-gray-300 bg-gray-100 px-4 text-gray-800 focus:outline-[#82b440] focus:ring-1 focus:ring-[#82b440]"
          required
        />
      </div>
      <div>
        <label for="phone" class="block text-gray-800 font-medium mb-2">
          Telefone
        </label>
        <input
          id="phone"
          type="text"
          [(ngModel)]="telefone"
          name="telefone"
          mask="(00) 00000-0000"
          class="w-full h-12 rounded-md border border-gray-300 bg-gray-100 px-4 text-gray-800 focus:outline-[#82b440] focus:ring-1 focus:ring-[#82b440]"
          required
        />
      </div>
      <div>
        <label for="email" class="block text-gray-800 font-medium mb-2">
          E-mail
        </label>
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          class="w-full h-12 rounded-md border border-gray-300 bg-gray-100 px-4 text-gray-800 focus:outline-[#82b440] focus:ring-1 focus:ring-[#82b440]"
          required
        />
      </div>
      <div>
        <label for="password" class="block text-gray-800 font-medium mb-2">
          Senha
        </label>
        <input
          id="password"
          type="password"
          [(ngModel)]="senha"
          name="senha"
          class="w-full h-12 rounded-md border border-gray-300 bg-gray-100 px-4 text-gray-800 focus:outline-[#82b440] focus:ring-1 focus:ring-[#82b440]"
          required
        />
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="w-[200px] h-12 rounded-md bg-[#82b440] text-white font-medium"
        >
          Concluir Cadastro
        </button>
      </div>
    </form>
  </div>
</div>
