<div class="bg-white p-4 shadow-md rounded-md">
  <!-- Título -->
  <h2 class="text-lg font-semibold text-[#d43e48] mb-2">Recusadas</h2>

  <!-- Linha Divisória -->
  <hr class="border-[#d43e48] border-2 mb-2" />

  <!-- Conteúdo do Card -->
  <div class="text-gray-600">
    <app-info-card
      [detranDestino]="'Detran Rio de Janeiro'"
      [imagem]="'../../assets/images/placa.png'"
      [funcionario]="'Maria Souza'"
      [dataValidacao]="'11/12/2023'"
      [horarioValidacao]="'13:15:00'"
      [color]="'#d43e48'"
    ></app-info-card>
  </div>
</div>
