<div id="webcrumbs" class="h-screen flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2 h-1/2 lg:h-full bg-[#8CC63E]"></div>

  <div
    class="w-full lg:w-1/2 h-1/2 lg:h-full flex flex-col items-center justify-center p-8 bg-white space-y-12"
  >
    <div>
      <img
        src="../../assets/images/lodoADN.png"
        alt="Logo"
        width="300"
        height="200"
        class="object-contain"
      />
    </div>

    <p class="text-neutral-950 text-center">
      Seja bem vindo(a), este é o sistema de Vistorias Lacradas. Faça seu login
      abaixo:
    </p>

    <form
      class="w-full max-w-md flex flex-col gap-8"
      (ngSubmit)="onSubmit()"
      #loginForm="ngForm"
    >
      <div class="flex items-center bg-neutral-200 rounded-md">
        <span class="px-3 text-neutral-500 material-symbols-outlined"
          >person</span
        >
        <input
          type="email"
          placeholder="Endereço de email"
          class="flex-1 bg-transparent border-0 focus:outline-none py-2 px-2"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <div class="flex items-center bg-neutral-200 rounded-md">
        <span class="px-3 text-neutral-500 material-symbols-outlined"
          >lock</span
        >
        <input
          type="password"
          placeholder="Senha"
          class="flex-1 bg-transparent border-0 focus:outline-none py-2 px-2"
          [(ngModel)]="senha"
          name="senha"
          required
        />
      </div>

      <div class="flex items-center">
        <input type="checkbox" id="remember-me" class="mr-2" />
        <label for="remember-me" class="text-neutral-950">LEMBRAR-ME</label>
      </div>

      <button
        type="button"
        class="w-full bg-[#0053B3] text-white rounded-md py-2 !bg-[#0053B3]"
      >
        Entrar com gov.br
      </button>

      <div class="flex items-center justify-between text-sm text-neutral-500">
        <a href="#" class="hover:underline">SENHA PERDIDA</a>
        <button
          type="submit"
          class="bg-[#8CC63E] text-white rounded-md py-2 px-8 !bg-[#8CC63E] flex items-center justify-center gap-2"
          [disabled]="isLoading || !loginForm.valid"
        >
          <span
            *ngIf="isLoading"
            class="iconify w-6 h-6 animate-spin"
            data-icon="line-md:loading-twotone-loop"
          ></span>
          <span *ngIf="!isLoading">Entrar</span>
        </button>
      </div>
    </form>
  </div>
</div>
