<div id="webcrumbs" class="h-full w-[400px] fixed top-0 left-0 bg-white">
  <img
    src="../../assets/images/lodoADN.png"
    alt="AND logo"
    class="object-contain mx-auto my-4"
    width="230"
    height="90"
  />
  <div class="flex flex-col space-y-4 w-[260px] mx-auto">
    <div
      *ngFor="let item of menuItems"
      class="flex items-center justify-start gap-2 text-[#82b440] px-2 py-4 hover:bg-[#82b440] hover:text-white hover:rounded-md transition-all cursor-pointer"
      (click)="navigateTo(item.route)"
    >
      <span class="iconify w-6 h-6" [attr.data-icon]="item.icon"></span>
      {{ item.label }}
    </div>
  </div>
</div>
