<div class="bg-white p-4 shadow-md rounded-md">
  <!-- Título -->
  <h2 class="text-lg font-semibold text-[#ff795c] mb-2">Enviadas</h2>

  <!-- Linha Divisória -->
  <hr class="border-[#ff795c] border-2 mb-2" />

  <!-- Conteúdo do Card -->
  <div class="text-gray-600">
    <app-info-card
      [detranDestino]="'Detran Minas Gerais'"
      [imagem]="'../../assets/images/placa.png'"
      [funcionario]="'Carlos Pereira'"
      [dataValidacao]="'10/12/2023'"
      [horarioValidacao]="'15:45:00'"
      [color]="'#ff795c'"
    ></app-info-card>
  </div>
</div>
